<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <title>Siddharth Suresh Nair</title>
    </head>
    <body>
        <div class='profile-container'>

            <div class='profile-parent'>

                <div class='profile-details'>

                    <div class='profile-details-name'>
                        <span class='name'>
                            Hello, I am<br />Siddharth Suresh Nair ...
                        </span>
                    </div>

                    <div class='profile-details-role'>
                        <span class='roles'>
                            <h1>
                                <span class="element"></span>    
                            </h1>
                        </span>
                    </div>

                    <div class='profile-details-desc'>
                        I am an up-and-coming Computer Engineer who is interested in trying his skills out in the fields of Software Engineering, Artificial Intelligence and Machine Learning.
                    </br></br>
                        In addition, i love dabbling in competitive online games with my friends, playing football and listening to music 
                    </div>

                    <!-- <div class='profile-options'>
                        <div class='cols-icon'>
                            <a href='https://www.facebook.com/sid.suresh.24/'>
                                <FaFacebookSquare />
                            </a>
                            <a href='https://www.linkedin.com/in/siddharth-suresh-nair-a664b521a/'>
                                <FaLinkedin />
                            </a>
                            <a href='https://www.instagram.com/sidsuresh24/'>
                                <FaInstagram />
                            </a>
                            <a href='https://github.com/Sidsuresh'>
                                <FaGithubSquare />
                            </a>
                        </div>
                    </div> -->

                </div>

                <div class='profile-picture'>
                    <div class='profile-picture-background'></div>
                </div>

            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script>
            var typed = new Typed(".element", {
                strings: ["CREATIVE WEB/ APP DESIGNER 📱", "SAVVY DATA ANALYST 📈", "AVID AI/ML ENTHUSIAST 🤖", "ANALYTICAL PROBLEM SOLVER 💡"],
                typeSpeed: 10,
                backSpeed: 10,
                backDelay: 2000,
                loop: true,
            })
        </script>
    </body>
</html>